*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(img/kelas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.344);
    background-blend-mode: darken;
}

nav h4 {
    width: 0 20px;
    color: black;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: rgba(254, 255, 255, 0.712);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    height: 70px;

}
nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 166, 0, 0);
}
nav ul li a:hover {
    color: rgb(204, 161, 82);
    border-bottom: 1px solid rgb(204, 161, 82);
}


.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form input,
form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
}

form input:focus,
form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #333;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(204, 161, 82);
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover {
    background-color: rgb(173, 135, 63);
}